*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body, button {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: rgb(151, 165, 129);
  
}

@media (max-width: 600px) {
  body{
    background-color: rgb(245, 216, 216);
  }

  h1{
    font-size: 55px;
  }
}

@media (max-height: 300px){
  body{
    background-color: lightblue;
  }
}